.color-primary {
  color: var(--color-primary);
}

.bg-color-primary {
  background-color: var(--color-primary);
}

.color-primary-50 {
  color: var(--color-primary-50);
}

.bg-color-primary-50 {
  background-color: var(--color-primary-50);
}

.color-secondary {
  color: var(--color-secondary);
}

.bg-color-secondary {
  background-color: var(--color-secondary);
}

.color-gray-100 {
  color: var(--color-gray-100);
}

.bg-color-gray-100 {
  background-color: var(--color-gray-100);
}

.color-gray-50 {
  color: var(--color-gray-50);
}

.bg-color-gray-50 {
  background-color: var(--color-gray-50);
}

.color-gray-20 {
  color: var(--color-gray-20);
}

.bg-color-gray-20 {
  background-color: var(--color-gray-20);
}

.color-gray-0 {
  color: var(--color-gray-0);
}

.bg-color-gray-0 {
  background-color: var(--color-gray-0);
}
