.cartTotal {
  height: 8.75rem;
  padding: 1.25rem 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartTotal > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartTotal button:hover {
  opacity: 1;
  background-color: var(--color-primary);
  color: var(--color-gray-0);
}
